
.aw-vertical-align{
  height: 100vh;
}

.navegacion{
  background: rgba(241, 241, 241, 0.596);
}

.links li{
  color: #ffffff;
  margin-right: 30px;
}


@media(min-width:360px){
  .navegacion{
      background-color: black;
  }
  .nav-item a{
      color: #ffffff;
  }
}

@media(min-width:760px){
  .navegacion{
      background: rgba(0, 0, 0, 0.199);
  }
  .nav-item a{
      color: #000000;
  }
}

.top-nav-collapse{
  background: rgba(0, 0, 0, 0.74) !important;
}

.top-nav-collapse a{
  color: #ffffff;
}

/* header */
.fondo{
  background-image: url('./img/fondo_russia.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.welcome{
  height: 100vh;
  overflow: hidden;
}

section{
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
}

.texto{
  height: 50vh;
  overflow: hidden;
}

.texto img{
  width: 550px;
  height: auto;
}

footer{
  background-color: crimson;
  overflow: hidden;
  height: 10vh;
}

.lista li{
  height: 10vh;
}